@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  
}

.content-div::before {
  content: '';
  position: absolute;
  inset: 0;
  /* background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.5),
    hsla(242, 74%, 61%, 0.5)
  ) !important; */
  background: hsla(242, 74%, 61%, 0.6);
  z-index: 1;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  border-radius: 0.375rem;
}


.content-div:hover::before {
  opacity: 1;
}